name: time_listener
description: An extremely easy-to-use flutter plugin that allows you to listen time changes.
version: 0.0.1
homepage: https://github.com/kaczmarzk/time_listener

environment:
  sdk: '>=3.1.1 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: